body
{
    background-color: rgb(24, 24, 24);
}

.textoblanco{
    color: white;
}
.botoncabezera
{
    margin-left: 90%
}




.boton
{
    margin-left: 40%;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
  }