body{
  width:100%;
  height:100%;
  background-image: url(/Images/fondo.jpg);
  background-repeat: no-repeat;
}

.textoblanco{
    color: white;
}

.botoncabezera{
  text-align: bottom;
  align-items: bottom;
}

.darker{
background-color: transparent;
background: none;
}

.leftmenu{
  align-items: baseline;
}

.peque{
  width: 300px;
  height: 40px
}

.barrainfi{
  width: 50px;
  height: 50px;
}

.footer{
  padding-top: 1000px ;
  width: 100%;
  height: 10px;
}