body{
  width:100%;
  height:100%;
  background-image: url(/Images/fondo.jpg);
  background-repeat: no-repeat;

}

.imagelogo
{
  width:260px;
}
.titulillo
{
  font-family: serif;
  font-weight: 900;
  font-size: 100px;
  color: white;
}
.textillo
{
  font-family: serif;
  font-weight: 900;
  font-size: 100px;
  color: white;
}
.textoblanco{
    color: white;
}

.botoncabezera{
  text-align: bottom;
  align-items: bottom;
}

.darker{
background-color: transparent;
background: none;
}

.leftmenu{
  align-items: baseline;
}

.peque{
  width: 300px;
  height: 40px
}

.footer{
  width: 100%;
  height: 100px;
  background-color: solid black;
  color: solid black;
}

.hola {
  
  display: flex;
  height: 100px;
}
.image {
  width: 350px;
  height: 250px;
  background-image: url('https://via.placeholder.com/350x250/00ff00/ffffff');
  background-size: cover;
  cursor: pointer;
  transition: all 1s ease;
}
.image:hover {
  transform: scale(1.1);
}

.image1 {
  width: 350px;
  height: 250px;
  cursor: pointer;
  transition: all 1s ease;
  background-image: url('https://via.placeholder.com/350x250/0000ff/ffffff');
}
.image2 {
  width: 350px;
  height: 250px;
  cursor: pointer;
  transition: all 1s ease;
  background-image: url('https://via.placeholder.com/350x250/ff0000/ffffff');
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}